<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- enable cache-->
        <setting name="cacheEnabled" value="true"/>
        <!-- allow primary key auto-generate-->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- log-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>
    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED"/>
        </environment>
    </environments>
</configuration>
